parameters:
	ignoreErrors:
		-
			message: '''
				#^PHPDoc tag @property has invalid value \(initial\-value declarations\. Returns an associative array
				mapping variable names to their raw declared values\.\)\: Unexpected token "declarations", expected variable at offset 169 on line 5$#
			'''
			identifier: phpDoc.parseError
			count: 1
			path: SLASHED-for-WP/includes/class-css-parser.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 4
			path: SLASHED-for-WP/includes/class-framework-updater.php

		-
			message: '#^Parameter \#1 \$array \(list\<mixed\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: SLASHED-for-WP/integrations/bricks/includes/class-classes.php

		-
			message: '#^Parameter \#1 \$array \(list\<mixed\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: SLASHED-for-WP/integrations/bricks/includes/class-variables.php

		-
			message: '#^Call to function method_exists\(\) with ''Slashed_Token_Page'' and ''get_class_hints'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: SLASHED-for-WP/integrations/gutenberg/includes/class-editor-enqueue.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(string\)\: bool\)\|null, ''strlen'' given\.$#'
			identifier: argument.type
			count: 1
			path: SLASHED-for-WP/integrations/gutenberg/includes/class-presets.php
